<launch>
  <node name="mycroft_message_bus" pkg="mycroft_ros" type="mycroft_message_bus" respawn="true" />
  <node name="mycroft_tts" pkg="mycroft_ros" type="mycroft_tts" respawn="true" />
  <node name="mycroft_skills" pkg="mycroft_ros" type="mycroft_skills" respawn="true" />
  <node name="mycroft_stt" pkg="mycroft_ros" type="mycroft_stt" respawn="true" />
</launch>